---
http_interactions:
- request:
    method: get
    uri: https://asia.api.riotgames.com/riot/account/v1/accounts/by-riot-id/Hide%20on%20bush/KR1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - "<RIOT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-App-Rate-Limit:
      - 100:120,20:1
      X-App-Rate-Limit-Count:
      - 3:120,3:1
      X-Method-Rate-Limit:
      - 1000:60
      X-Method-Rate-Limit-Count:
      - 3:60
    body:
      encoding: ASCII-8BIT
      string: '{"puuid":"hii8ySibjXVzhOmvyX2VLEerC4kB_Xl0iNyZA6uPRR7TOldsB6d0AnVct4drlsTSny40PQM5IGFhhA","gameName":"Hide
        on bush","tagLine":"KR1"}'
  recorded_at: Fri, 04 Sep 2026 21:10:58 GMT
- request:
    method: get
    uri: https://asia.api.riotgames.com/lol/match/v5/matches/by-puuid/hii8ySibjXVzhOmvyX2VLEerC4kB_Xl0iNyZA6uPRR7TOldsB6d0AnVct4drlsTSny40PQM5IGFhhA/ids?count=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Riot-Token:
      - "<RIOT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-App-Rate-Limit:
      - 100:120,20:1
      X-App-Rate-Limit-Count:
      - 4:120,1:1
      X-Method-Rate-Limit:
      - '2000:10'
      X-Method-Rate-Limit-Count:
      - '1:10'
    body:
      encoding: ASCII-8BIT
      string: '["KR_8368666881","KR_8368600422","KR_8368529562"]'
  recorded_at: Fri, 04 Sep 2026 21:10:58 GMT
recorded_with: VCR 6.4.0
